.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-button {
  position: relative;
}

img {
  width:  200px;
  height: 200px;
  background-size: cover;
}

.venue-info {
  text-align: left;
}
